
body {
    background: #706318;
    font-family: Arial;
}
h1 {
    color: red;
}
/* qg1b7ES8EVM0NFEPWgWcGeAinms1HWy6HzXnitwnNo2dnkhmSiXIs3TauKwSmwUCvKyTy9WZHf7WuGI87Hzl4kPJBASoUx6doWPivkdYd1Lf8HdKgpdXd4CaHJZHN53a8f8SrwFq4ztwkRXpwiPMSc50yseTqT0A7U1cLkJ5kGvdNZjFXhDPYW2zzw2PraoemcuqkcMB */
